@model ICollection<HeylonBlog.Models.SectionShow>


@foreach (var item in Model)
{
    <div class="LeftBlock">
    <div class="BlockTitle">
        @item.Title
    </div>
    <div class="BlockContent">
        @Html.Raw(item.Content)
    </div>
</div>
}



@*<div class="LeftBlock">
    <div class="BlockTitle">
        阅读排行
    </div>
    <div class="BlockContent">
        <ul>
            <li>asdfsafas</li>
            <li>asdfasdfsa</li>
            <li>asdfsafas</li>
            <li>asdfasdfsa</li>
            <li>asdfsafas</li>
            <li>asdfasdfsa</li>
        </ul>
    </div>
</div>*@




@*<div class="LeftBlock">
    <div class="BlockTitle">
        公告
    </div>
    <div class="BlockContent">
        大家好哈哈阿道夫拉开三地警方三斗坪骄傲fig骄傲i敬佛倒萨就fop激动啊是敬佛i大奖赛奥法do啊是就of松动
    </div>
</div>

<div class="LeftBlock">
    <div class="BlockTitle">
        阅读排行
    </div>
    <div class="BlockContent">
        <ul>
            <li>asdfsafas</li>
            <li>asdfasdfsa</li>
            <li>asdfsafas</li>
            <li>asdfasdfsa</li>
            <li>asdfsafas</li>
            <li>asdfasdfsa</li>
        </ul>
    </div>
</div>
<div class="LeftBlock">
    <div class="BlockTitle">
        最新发表
    </div>
    <div class="BlockContent">
        <ul>
            <li>asdfsafas</li>
            <li>asdfasdfsa</li>
            <li>asdfsafas</li>
            <li>asdfasdfsa</li>
            <li>asdfsafas</li>
            <li>asdfasdfsa</li>
        </ul>
    </div>
</div>
<div class="LeftBlock">
    <div class="BlockTitle">
        分类
    </div>
    <div class="BlockContent">
        <ul>
            <li>asdfsafas</li>
            <li>asdfasdfsa</li>
            <li>asdfsafas</li>
            <li>asdfasdfsa</li>
            <li>asdfsafas</li>
            <li>asdfasdfsa</li>
        </ul>
    </div>
</div>

<div class="LeftBlock">
    <div class="BlockTitle">
        公告
    </div>
    <div class="BlockContent">
        大家好哈哈
    </div>
</div>*@

